.list{
  //overflow-x: hidden;
  margin-top: 20px;
  width: 100%;
  //overflow-x: hidden;
  h4{
    margin-left: 50px;
    margin-bottom: 10px;
  }
  .container{
    //width: 100%;
    position: relative;
    //overflow: hidden;
    .fa-solid{
      font-size: 70px;
      width: 50px;
      height: 150px;
      background-color: rgb(0,0,0,0.5);
      display: flex;
      align-items: center;
      position: absolute;
      z-index: 333;
      top: 0;
      //transform: translateX(500);
      &.left{
        left: 0;
      }
      &.right{
        right:0;
      }
       
    }
    .wrapper{
      transition: all 0.3s ease;
      display: flex;
      margin-left: 50px;
      width: max-content;
      position: relative;
      transform: translateX(0);
      z-index: 5;
      //overflow-x: hidden;
    //  .listItem{
    //   width: 230px;
    //   height: 140px;
    //   background-color: white;
    //   &:hover{
    //     position: absolute;
    //     height: 200px;
    //     width: 300px;
    //     top: -150px;

    //     //z-index: 555;
    //   }
    //  }
    }
  }
}