.listItem{
  width: 230px;
  height: 140px;
  margin-right: 10px;
  background-color: white;
  position: relative;
  //overflow: hidden;
  a{
    color: inherit;
    text-decoration: none;
  }
  .item{
    width: 230px;
    height: 140px;
    transition: all 0.5s ease;
    transform-origin: bottom;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
     video{
       display: none;
     }
    iframe{
      display: none;
    }
    .more{
      display: none;
    }
    
    
  }
    &:hover {
      .item{

        height: 320px;
        width: 330px;
        position: absolute;
        bottom: -50px;
        left: 0;
        z-index: 55555;
        transform: translateX(-50px);
        background-color: var(--main-color);
        box-shadow: 2px 3px 8px 5px rgba(89, 72, 72, 1);
          -webkit-box-shadow: 2px 3px 8px 5px rgba(89, 72, 72, 1);
          -moz-box-shadow: 2px 3px 8px 5px rgba(89, 72, 72, 1);
  
      img {
        width: 100%;
        height: 140px;
        object-fit: cover;
      }
      video{
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 150px;
        object-fit: cover;
       }
      iframe {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 150px;
        object-fit: cover;
      }

  
      .more {
        display: flex;
        flex-direction: column;
        color: var(--font-color);
        z-index: 6666;
        flex-direction: column;
        padding: 5px;
  
        .icons {
          display: flex;
  
          .icon {
            height: 35px;
            font-size: 15px;
            width: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            background-color: transparent;
            border: 1px solid white;
            margin-right: 10px;
            border-radius: 50px;
            margin-bottom: 10px;
  
          }
  
          //margin-bottom: 15px;
          span {
            width: 40px;
            height: 40px;
            border: 1px solid white;
  
            .fa-solid {
              font-size: .8rem;
            }
          }
        }
        h5{
          color: var(--font-color);
          
        }
  
        .info {
          color: grey;
          font-size: .8rem;
          
          span {
            margin-right: 5px;
          }
        }
  
        p {
          margin-top: 5px;
          color: white;
          font-size: 0.8rem;
        }
        .genre{
          span{
            margin-right: 5px;
            font-size: 0.7rem;
          }
        }
        .overview{
          font-size: 0.7rem;
        }
      }

  
      //verflow: hidden;
    }
    }
  
}
