.featured{
  height: 90vh;
  position: relative;
  .type{
    position: absolute;
    left: 50px;
    top: 100px;
    display: flex;
    align-items: center;
    span{
      text-transform: capitalize;
      font-size: 2rem;
      font-weight: 500;
    }
    select{
      background-color: var(--main-color);
      color: var(--font-color);
      border: 1px solid white;
      padding: 5px;
      margin-left: 20px;
      option{
        padding: 5px;
      }
    }
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .featured-about{
    position: absolute;
    width: 500px;
    top: 40%;
    left: 50px;
    img{
      width: 100%;
      object-fit: cover;
    }
    .desc{
      font-size: 0.9rem;
      margin-top: 15px;
    }
    .buttons{
      margin-top: 15px;
      button{
        padding: 10px 12px;
        border-radius: 3px;
        border: none;
        margin-right: 5px;
        font-weight: 600;
        font-size: 1rem;
        span{
          margin-left: 10px;
        }
        &.play{
          background-color: var(--font-color);
          color: var(--main-color);
        }
        &.info{
          background-color: grey;
          color: var(--font-color);
        }
      }
    }
  }
}